{% extends "site_base.html" %}
{% load static crispy_forms_tags %}
{% load widget_tweaks %}
{% block extra_style %}
    <style>
        .select2-selection__rendered {
            line-height: 14px !important;
        }
    </style>
{% endblock %}

{% block head_title %}Send mass mail{% endblock %}
{% block page_title %}Send mass mail{% endblock %}
{% block page_content %}

<div class='alert alert-info'>
    Please select a distribution list and a mail template to proceed with the mass mail sending
</div>
<form method="GET" action='{% url "send_mass_mail_confirm" %}' >
    {{ form|crispy }}
    
    <input type="submit" class="btn btn-primary" value='Continue' />
    <a href='{% url "home" %}' class="btn btn-info">Return</a>

</form>


{% endblock %}

{% block extra_script_no_compress %}
    {{ form.media }}
{% endblock %}