{% extends "site_base.html" %}
{% load static crispy_forms_tags %}
{% load widget_tweaks %}
{% block extra_style_ %}
    
{% endblock %}

{% block head_title %}Confirm send mass mail{% endblock %}
{% block page_title %}Confirm send mass mail{% endblock %}
{% block page_content %}

<h3>Will send the mail template <a class='btn btn-info' href='{{ mt.get_absolute_url }}'>{{ mt.id }}</a></h3>
<h4>{{ mt.subject }}</h4>
{% if mt.body_type == 'html' %}{{ mt.body|safe }}{% else %}{{ mt.body }}{% endif %}
<div class='row'>
    <div class='col-md-6'>
        Mail from: {{ mt.mail_from }} 
    </div>
    <div class='col-md-6'></div>
        Reply to: {{ mt.reply_to }}
    </div>
</div>


<h3>To the distribution list <a class='btn btn-info' href='{{ dl.get_absolute_url }}'>{{ dl.id }}</a></h3>
<div class='row'>
    <div class='col-md-6'>
        Name: {{ dl.name }} 
    </div>
    <div class='col-md-6'>
            Length: {{ dl.emailaddress_set.all|length }}
        </div>
</div>
<div class='row'>
    <div class='col-md-12'>
            <h4>10 first contacts</h4>
            {% for ea in dl.emailaddress_set.all|slice:":10" %}
                {{ ea.name }}: {{ ea.email }}
            {% endfor %}
    </div>
</div>


<form method="POST" action='{% url "send_mass_mail_confirm" %}' >
    {% csrf_token %}
    {{ form|crispy }}
    
    <input type="submit" class="btn btn-primary" value='Send' />
    <a href='{% url "send_mass_mail" %}' class="btn btn-info">Return</a>

</form>


{% endblock %}

{% block extra_script_no_compress %}
    {{ form.media }}
{% endblock %}