{% extends "site_base.html" %}
{% load static crispy_forms_tags %}
{% load widget_tweaks %}
{% block extra_style_ %}
    
{% endblock %}

{% block head_title %}Send mass mail{% endblock %}
{% block page_title %}Send mass mail{% endblock %}
{% block page_content %}

<form method="GET" action='{% url "send_mass_mail_confirm" %}' >
    {{ form|crispy }}
    
    <input type="submit" class="btn btn-primary" value='Send' />
    <a href='{% url "home" %}' class="btn btn-info">Return</a>

</form>


{% endblock %}

{% block extra_script_no_compress %}
    {{ form.media }}
{% endblock %}