{% extends "site_base.html" %}
{% load static crispy_forms_tags crispy_forms_filters %}
{% load widget_tweaks %}
{% block extra_style %}
    <style>
        .delete-row {
            color: #fff;
            background-color: #31b0d5;
            border-color: #269abc;
            display: inline;
            margin: auto;
            font-weight: 400;
            line-height: 1.25;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            
            border: 1px solid transparent;
            padding: .5rem 1rem;
            
            border-radius: .25rem;
        }
    </style>
{% endblock %}

{% block head_title %}Update distribution list{% endblock %}
{% block page_title %}Update distribution list{% endblock %}
{% block page_content %}

<form method="POST" action='' >
    {% csrf_token %}
    <div class='row'>
        <div class='col-md-12'>
            {{ form.name|as_crispy_field }}
        </div>
    </div>
    <h3>Emails on this distribution list</h3>
    {% for formset in inlines %}
        <table border="0" cellpadding="0" cellspacing="0" class='table table-condensed' >
            <thead>

            </thead>
            
            <tbody>
                {% for form in formset %}
                <tr>
                    <td>
                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        {{ form.name|as_crispy_field }}
                        
                    </td>
                   <td>
                        {{ form.email|as_crispy_field }}
                    </td>
                    <td>
                        {{ form.id }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            
        </table>
        {{ formset.management_form }}
    {% endfor %}

    <input type="submit" class="btn btn-primary" value='Save' />
    <a href='{% url "dl_mail_distributionlist_list" %}' class="btn btn-info">Return</a>

</form>


{% endblock %}

{% block extra_script_no_compress %}
    <script src="{% static 'jquery.formset.min.js' %}"></script>
    
    <script>
    
    var addedRow = function(row) {
        console.log(row);
    }
    
    $(function() {
        $('tr').formset({
            prefix: '{{ inlines.0.prefix }}',
            addCssClass: 'btn btn-info'
            
        });
    })
    
    </script>
{% endblock %}