{% extends "site_base.html" %}
{% load widget_tweaks %}

{% block head_title %}Mail template details{% endblock %}
{% block page_title %}Mail template list details{% endblock %}
{% block page_content %}

<div class='row'>
    <div class='col-md-12'>
        <h3>{{ object.name }}</h3>
    </div>
</div>

<div class='row'>
    <div class='col-md-6'>Subject: {{ object.subject }}</div>
    <div class='col-md-6'>Body type: {{ object.body_type }}</div>
</div>
<div class='row'>
    <div class='col-md-6'>Mail from: {{ object.mail_from }}</div>
    <div class='col-md-6'>Reply to: {{ object.reply_to }}</div>
</div>
<div class='row'>
    <div class='col-md-12'>
        <h3>Body</h3>
        {% if object.body_type == 'html' %}
            {{ object.body|safe }}
        {% else %}
            {{ object.body|linebreaks }}
        {% endif %}
    </div>
</div>


<h3>Attachments</h3>
<table class='table table-contensed'>
    <thead>
        <tr>
            <th>Name</th><th>File</th><th>Content type</th>
        </tr>
    </thead>
    <tbody>
        {% for ma in object.mailattachment_set.all %}
            <tr>
                <td>{{ ma.name }}</td><td>{{ ma.content }}</td><td>{{ ma.content_type }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


<div class='row'>
    <div class='col-md-12'>
        <a href='{% url "mt_mail_mailtemplate_list" %}' class="btn btn-info">Return</a>
        <a class='btn btn-primary' href='{% url "mt_mail_mailtemplate_update" object.id %}'>Edit</a>
    </div>
</div>

{% endblock %}