{% extends "site_base.html" %}
{% load widget_tweaks crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block extra_style %}
<style>
    .not-active {
        text-decoration: line-through;
    }
</style>
{% endblock %}

{% block head_title %}Mail templates{% endblock %}
{% block page_title %}
    Mail templates
    <a href='{% url "mt_mail_mailtemplate_create" %}' class='btn btn-lg'>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </a>    
{% endblock %}
{% block page_content %}

<div class='row'>
    <div class='col-md-12'>
        {% render_table table %}
    </div>
</div>
<div class='row'>
    <div class='col-md-12'>
        <a href='{% url "home" %}' class='btn btn-info' >Return</a>  
    </div>
</div>

{% endblock %}