{% extends "site_base.html" %}
{% load widget_tweaks crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block extra_style %}
<style>
    .not-active {
        text-decoration: line-through;
    }
</style>
{% endblock %}

{% block head_title %}Mass mail list{% endblock %}
{% block page_title %}
    Mass mail list
{% endblock %}
{% block page_content %}

<div class='row'>
    <div class='col-md-12'>
        <form method='GET' class='form form-inline' >
            {{ filter.form|crispy }}
            <button class='btn btn-info' type='submit'>Filter</button>
            <a href='{{ request.path }}' class='btn btn-info' type='submit'>Clear</a>
        </form>
    </div>
</div>

<div class='row'>
    <div class='col-md-12'>
        {% render_table table %}
    </div>
</div>
<div class='row'>
    <div class='col-md-12'>
        <a href='{% url "home" %}' class='btn btn-info' >Return</a>  
    </div>
</div>

{% endblock %}